
  <h4>Filtrar por:</h4>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="form-group">
      <label for="">Titulo</label>
      <input type="text" class="form-control" ng-model="search.title">
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="form-group">
      <label for="">Preço</label>
      <input type="text" class="form-control" ng-model="search.price">
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="form-group">
      <label for="">Status</label>
      <input type="text" class="form-control" ng-model="search.status">
    </div>
  </div>


<table class="table table-hover">
          <thead>
            <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Status</th>
            <th>Data de Inclusão</th>
            <th>Alterar</th>
            <th>Remover</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="prod in prodCtrl.list | filter:search | getTotalList">
              <td ng-if="!$last">{{:: prod.title}}</td>
              <td ng-if="!$last">{{:: prod.price}}</td>
              <td ng-if="!$last">{{:: prod.status}}</td>
              <td ng-if="!$last">{{:: prod.created_at}}</td>
              <td ng-if="!$last"><button class="btn btn-sm btn-info" ng-click="prodCtrl.showTabUpdate(prod, $index)"><i class="glyphicon glyphicon-pencil"></i></button></td>
              <td ng-if="!$last"><button class="btn btn-sm btn-danger" ng-click="prodCtrl.showTabDelete(prod, $index)"><i class="glyphicon glyphicon-trash"></i></button></td>
              <!-- Somente se for o ultimo iterator do ngRepeat-->
              <td ng-if="$last" style="text-align: right;"><strong>Total </strong></td>
              <td ng-if="$last"><strong>{{ prod | currency}}</strong></td>
              <td ng-if="$last"></td>
              <td ng-if="$last"></td>
              <td ng-if="$last"></td>
              <td ng-if="$last"></td>

            </tr>
          </tbody>
          <tfoot>
            <tr>
              
            </tr>
          </tfoot>
        </table>