<section class="container">
  <div ng-controller="productsCtrl as prodCtrl">
    
    <div class="page-header">
      <h1>Produtos</h1>
    </div>

    <ul class="nav nav-tabs" role="tablist">
      <li ng-if="prodCtrl.tabList" ng-class="{active: prodCtrl.tabList}">
        <a href data-target="#tabList" data-toggle="tab"><i class="glyphicon glyphicon-list"></i> Listar</a>
      </li>
      <li ng-if="prodCtrl.tabCreate">
        <a href data-target="#tabCreate" data-toggle="tab"><i class="glyphicon glyphicon-plus"></i> Cadastrar</a>
      </li>
      <li ng-if="prodCtrl.tabUpdate" ng-class="{active: prodCtrl.tabUpadte}">
        <a href data-target="#tabUpdate" data-toggle="tab"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
      </li>
      <li ng-if="prodCtrl.tabDelete" ng-class="{active: prodCtrl.tabDelete}">
        <a href data-target="#tabDelete" data-toggle="tab"><i class="glyphicon glyphicon-trash"></i> Remover</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in" id="tabList" ng-include="'products/list.html'" ng-if="prodCtrl.tabList" ng-class="{active: prodCtrl.tabList}"></div>
      <div role="tabpanel" class="tab-pane fade in" id="tabCreate" ng-include="'products/form.html'" ng-if="prodCtrl.tabCreate"></div>
      <div role="tabpanel" class="tab-pane fade in" id="tabUpdate" ng-include="'products/form.html'" ng-if="prodCtrl.tabUpdate" ng-class="{active: prodCtrl.tabUpdate}"></div>
      <div role="tabpanel" class="tab-pane fade in" id="tabDelete" ng-include="'products/form.html'" ng-if="prodCtrl.tabDelete" ng-class="{active: prodCtrl.tabDelete}"></div>
    </div>

  </div>
  
</section>

    